
.icon-user:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-left-big:before { content: '\e802'; } /* '' */
.icon-doc:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-left-circled2:before { content: '\f190'; } /* '' */